* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 40px 0 40px 0;
    font-size: 40px; 
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #288888;
}

body {
    background-color: #e6f7ff;
}

.box, form {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    input {
        width: 250px;
        height: 30px;
        border-radius: 30px;
        padding: 0 15px 0 15px;
    }
    
    button {
        width: 150px;
        height: 40px;
        background-color: #00ffc8;
        border-radius: 100px 100px 100px 100px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    }

    button > p {
        font-size: 20px;
        font-family: Arial, sans-serif;
    }